<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to(product.title, admin_product_path(product)) %>
    </li>
    <ul>
      <li><%= product.description %></li>
      <li><%= product.price %></li>
      <li><%= product.price %></li>
      <li><%= product.created_at %></li>
    </ul>
  <% end %>
</ul>